{% load static %}
{% load humanize %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Info</title>
<meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8" />
<script data-ad-client="ca-pub-9602161995910784" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>
<body>
<div id="header">
  <div id="headercontent">
    <div id="title">
      <h1><a href="{% url 'home' %}">Info</a></h1>
      <p>A Free Online News</p>
    </div>
    <div id="topmenu">
      <ul>
        <li><a href="{% url 'home' %}"><span>Blog</span></a></li>
        <li><a href="{% url 'home' %}"><span>About</span></a></li>
        <li><a href="{% url 'home' %}"><span>Contact</span></a></li>
      </ul>
    </div>
  </div>
</div>
<div id="container">
  <div id="content">
    {% for author,news,description,pub,news_url,content in mycontext %}
      
    <div class="posttitle">
      <div class="postdate">Hot<span>{{forloop.counter}}</span></div>
      <h2><a href="{{news_url}}" target="_blank">{{news}}</a></h2>
      <div class="postinfo"> <span class="postauthcat">Posted by <a href="{% url 'home' %}">{{author}}</a> at {{pub}} in <a href="{% url 'home' %}">General</a></span> </div>
    </div>
    <div class="posttext">
      <p>{{content}}
<br></p>
      <blockquote>
        <p>{{description}}</p>
      </blockquote>
    </div>
    <div class="postfooter"> <span class="postcomment"><a href="">4 Comments &raquo;</a></span> </div>
    {% endfor %}





    <div id="entrynav"> <span id="entrynext"><a href="{% url 'home' %}">Next Entries &raquo;</a></span> <a href="{% url 'home' %}">&laquo; Previous Entries</a> &nbsp; </div>
  </div>
  <div id="sidebar">
    <div class="sidebarbox">
      <div class="sidebarboxtop">
        <h2>Search</h2>
        <form method="get" id="searchform" action="{% url 'home' %}">
          <p id="searchbox">
            <input type="text" value="" name="s" id="searchinp" size="14" />
            <input type="image" src=" {% static 'images/iconsearch.gif' %} " id="searchsubmit" />
          </p>
        </form>
      </div>
    </div>
    <div class="sidebarbox">
      <div class="sidebarboxtop">
        <h2>Categories</h2>
        <ul>
          <li><a href="{% url 'home' %}">General</a></li>
          <li><a href="{% url 'home' %}">News</a></li>
          <li><a href="{% url 'home' %}">Internet</a></li>
          <li><a href="{% url 'home' %}">Templates</a></li>
          <li><a href="{% url 'home' %}">Software</a></li>
          <li><a href="{% url 'home' %}">Photos</a></li>
          <li><a href="{% url 'home' %}">Personal</a></li>
        </ul>
      </div>
    </div>
    <div class="sidebarbox">
      <div class="sidebarboxtop">
        <h2>Archives</h2>
        <ul>
          <li><a href="{% url 'home' %}">October 2020</a> (11)</li>
          <li><a href="{% url 'home' %}">September 2020</a> (12)</li>
          <li><a href="{% url 'home' %}">August 2020</a> (28)</li>
          <li><a href="{% url 'home' %}">July 2020</a> (8)</li>
          <li><a href="{% url 'home' %}">June 2020</a> (5)</li>
          <li><a href="{% url 'home' %}">May 2020</a> (23)</li>
        </ul>
      </div>
    </div>
  </div>
  <br />
</div>
<div id="footer">
  <div id="footercontent">
    <p>Copyright &copy; 2020 ads.herokuapp.com. 
      Valid <a target="_blank" href="http://validator.w3.org/check?uri=referer">XHTML</a> &amp; <a target="_blank" href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a>. <a href="http://www.infscripts.com/">Design by Inf</a>.</p>
  </div>
</div>



<div align='center'>This template  downloaded from <a href="{% url 'home' %}">free website templates</a></div></body>
</html>
